@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DrogStore</h1>
    <a>Todos los medicamentos estan avalados por la OMS</a>
    <link href="~/css/img.jpg"  type="text/css"/>

</div>
